<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FHData</title>
</head>
<body>
<nav>
  Home | <a href="/systems">Systems</a> | <a href="/planets">Planets</a> | <a href="/species">Species</a>
</nav>
<h1>Game</h1>
<ul>
  <li>Turn {{.Turn}}</li>
</ul>
<h1>Cluster</h1>
<ul>
  <li>Radius {{.Radius}}</li>
  <li>Max Species {{.DesignedNumSpecies}}</li>
  <li><a href="/systems">Systems</a></li>
  <li><a href="/planets">Planets</a></li>
  <li><a href="/species">Species</a></li>
</ul>
</body>
</html>
